<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>924002037897-j9pi776kft6s256f7m328jdolt14c05o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.924002037897-j9pi776kft6s256f7m328jdolt14c05o</string>
	<key>API_KEY</key>
	<string>AIzaSyBABYZQgq-iEyLMO6phAjdiyNfe6S4FFCw</string>
	<key>GCM_SENDER_ID</key>
	<string>924002037897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Bube-Jacob.FunWalletApp</string>
	<key>PROJECT_ID</key>
	<string>funwallet-f4ffa</string>
	<key>STORAGE_BUCKET</key>
	<string>funwallet-f4ffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:924002037897:ios:b914bfaea1022fcafdd658</string>
</dict>
</plist>